html, body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: inline-flex;
    
    
    
}

li {
    
}